.head{
    background-color: rgb(255, 0, 0);
    text-align: center;
    border: 5px dashed #ff9b00;
    background-size: 25px;

}
.head2{
    background-color: #ff9b00;
    text-align: center;
    border: 2px solid red;

}
.image{
    background-color: #ff9b00c4;
    text-align: center;
}
.start{
    background: rgb(128, 0, 154);
}